.header {
  grid-area: header;
  background-color: #fff;
  display: flex;
}

.title {
  padding: 2px 10px 0px 10px;
  color: #737373;
  margin: 10px 0px 0px 0px;
  width: 190px;
}

.logo {
  margin: 15px 0px 0px 25px;
}

.header_left_bar {
  padding: 5px 0px 0px 0px;
}

.header_right_bar {
  position: absolute;
  right: 27px;
  padding: 5px 0px 0px 0px;
}

.header_center_bar {
  margin: 11px 0px 0px 0px;
}

body {
  background-color: rgba(225, 223, 221, 0.2);
  min-height: 600px;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 290px 1fr;
  grid-template-rows: 54px 1fr 45px;
  grid-template-areas: "header header" "sidenav main" "footer footer";
  height: 100vh;
}

.main {
  grid-area: main;
  background-color: #faf9f8;
  padding-left: 0px;
  padding-right: 30px;
  max-width: calc(100% - 40px);
  /*max-height: calc(100% - 200px);*/
  overflow: auto;0
}

.footer {
  grid-area: footer;
  background-color: #f3f2f1;
  padding: 12px 20px;
}

.sidenav {
  grid-area: sidenav;
  background-color: #fff;
  padding: 10px 20px 20px 20px;
  width:240px;
}

.page-title {
  padding: 52px 0px;
}

.card {
  background: #fff;
  padding: 20px;
  margin: 10px 0px 0px 0px;
  border-radius: 2px;
  background-clip: padding-box;
  max-width: calc(100% - 40px);
}

/* Search column in datatable, with type is factor */
td[data-type="factor"] input {
  width: 200px !important;
}

.input_title_first {
  margin: 0px 0px 10px 0px;
  font-weight: bold;
}

.input_title {
  margin: 10px 0px 10px 0px;
  font-weight: bold;
}

.toggle_title {
  font-weight: bold; 
  margin-right: 30px;
}

.inline_choicegroup .ms-ChoiceField{
  display: inline-block;
  padding: 0px 20px 0px 0px;
  font-weight: bold;
}

.router-hidden {
  display: none;
}

.datatable_length {
  float: right;
  margin-left: 10px;
}